secrets:
  token:
    name: secrets
    key: token
  sentryDsn:
    name: secrets
    key: sentryDsn
env:
  clientId: ""
redis:
  architecture: 'standalone'
  auth:
    enabled: false
  commonConfiguration: ""
image:
  repository: xxczaki/discord-bot
  pullPolicy: Always
  tag: d35e99fc40572b253e5bfcec26019fd7e708cfcd
imagePullSecrets:
  - name: registry-credentials
securityContext:
  allowPrivilegeEscalation: false
  runAsNonRoot: true
  capabilities:
    drop: ["ALL"]
  seccompProfile:
    type: RuntimeDefault
resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "512Mi"
    cpu: "400m"
readinessProbe:
  tcpSocket:
    port: 8000
  initialDelaySeconds: 10
  periodSeconds: 10
livenessProbe:
  tcpSocket:
    port: 8000
  initialDelaySeconds: 10
  periodSeconds: 10
